.botones-container {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: flex;
    flex-direction: column;
}

.pulsar {
    background-color: #00b3ca;
    border-color: #3d3c3c;

    &:hover {
    background-color: #7e009e;
    }
}

.lg {
font-size: 30px;
}

.btn {
padding: 15px 30px;
background-color: #006f75;
border-color: #00b7ff;

&:hover {
background-color: #7e009e;
}
}

.bg-blue {
background-color: #7e009e;
}

.subir {
width: 40px;
height: 40px;
    background-color: #00a2ff;
    text-decoration: none;
    color: white;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    border-radius: 50%;
    transition: color 0.3s ease;

    &:hover {
    color: #03009e;
    }
}

.what {
    background-color: #0c0c0c;
    color: rgba(60, 255, 0, 0.671);
    height: 58px;
    width: 50px;
    position: fixed;
    bottom: 100px;
    right: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    padding: 10px;
    border: 2px solid rgba(51, 255, 0, 0.774);
    border-radius: 50%;
    box-shadow: inset 0 0 5px 5px #575757;
    text-shadow: 0 0 5px rgba(0, 255, 128, 0.726);
}

.navbar {
    background-color: #000000;
    color: #fff;

    .navbar-brand {
font-weight: bold;
    }

    .nav-link {
color: #fff;
    }
}

.jumbotron {
    background-color: #f8f9fa;
    padding: 2rem;
}